* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: font(primary), sans-serif;
  color: $neutral-color;
  background-color: color(main);
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
.cta,
.mian-nav {
  font-family: font(secondary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $neutral-color;
}

p {
  line-height: 1.3;
  font-weight: 400;
}

.cta {
  background-color: $accent-color;
}

.main-header,
.sign-up {
  background-color: color(intro-signup);
}

.testimonials {
  background-color: color(testimonials);
}

.main-footer {
  background-color: color(footer);
}
