@import "variables";
@import "general";

// this placeholder class will be used on any flex containers
@mixin flex {
  display: flex;
}

// this placeholder class will be used on any grid containers on the page
@mixin grid {
  display: grid;
}

.main-header {
  @include grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 5rem;
  margin-bottom: 8rem;
  background-image: url("/images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

// styles for the main navbar
.main-nav {
  padding-top: 2rem;
}

.nav-links {
  @include flex;
  align-items: center;

  .header-logo {
    margin-right: auto;

    img {
      width: 70%;
    }
  }

  .link {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-size: 0.85rem;
  }
}

// header intro styles
.header-intro {
  max-width: 500px;
  justify-self: center;
  text-align: center;

  .intro-banner {
    width: 100%;
  }

  .intro-heading {
    line-height: 1.35;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 2rem 0 1rem;
  }

  .intro-description {
    font-size: 0.95rem;
  }
}

.intro-form {
  margin-top: 1.85rem;
  [type="submit"] {
    display: inline-block;
    width: 250px;
    border: none;
    padding: 12px 0;
    border-radius: 50px;
    color: $neutral-color;
    font-size: 1.125rem;
    font-weight: 700;
  }
}

// style for the products section
.products {
  @include grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 6rem;
}

.product {
  @include grid;
  max-width: 400px;
  text-align: center;
  justify-self: center;
  justify-items: center;
  grid-template-rows: 100px repeat(2, auto);

  .product-icon {
    align-self: center;
  }

  .product-title {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem;
  }

  .product-description {
    font-size: 0.89rem;
  }
}
